*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: lightgray;
}

header{
    background-color: white;
}

ol, ul {
    list-style: none;
    padding: 0;
}

/*
TITOLO LISTA
 */

.name-list{
    font-size: 50px;
    height: 100px;
    background-color: white;
}

.Logo{
    width: 60px;
    margin-left: 20px;
    margin-top: 20px;
    background-color: white; 
}


.Name_list{
    display: inline-block;
    font-size: 60px;
    vertical-align:center;
}

/*
INIZIO LISTA
*/
.conteiner_1{
    width: 1300px;
    margin: 0 auto;
    background-color: white;
    margin-top: 20px;
    padding: 30px;
    border-radius: 5px;
    border-bottom: 2px solid lightgrey;
}

.conteiner{
    width: 1300px;
    height: 100%;
    margin: 0 auto;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
}

.Name_Section-list{
    padding-top: 10px;

}

.Name_Element-list{
    padding:0px
}