*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html{
    font-family: 'Archivo Black', sans-serif;
}

body{
    background-color: lightgray;
}

header{
    background-color: white;
}

ol, ul {
    list-style: none;
    padding: 0;
}

/*
TITOLO LISTA
 */

.name-list{
    font-size: 50px;
    height: 100px;
    background-color: white;
}

.Logo{
    width: 60px;
    margin-left: 20px;
    margin-top: 20px;
    background-color: white; 
}


.name_list{
    display: inline-block;
    font-size: 60px;
    vertical-align:center;
}

/*
BOTTONI 
*/

.button_1{
    background-color: rgb(116, 198, 245);
    color: #fff;
    border: none; 
    border-radius: 10px; 
    padding: 10px;
    height: 35px; 
    width: 100px;
    
}

.button_2{
    background-color: rgb(255, 255, 255);
    color: #a1a1a1;
    border: none; 
    border-radius: 10px; 
    padding: 10px;
    height: 35px; 
    width: 120px;
    border: 1px solid gray;
}

/*
INIZIO LISTA
*/
.conteiner_1{
    width: 1300px;
    margin: 0 auto;
    background-color: white;
    margin-top: 20px;
    padding: 30px;
    border-radius: 5px;
    border-bottom: 2px solid lightgrey;
}

.conteiner{
    width: 1300px;
    height: 100%;
    margin: 0 auto;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
}

.name_section-list{
    font-size: 30px;
    color: black;
    margin-top: 40px;

}

.name_element-list{
    padding: 5px;
    margin-left: 10px;
    font-size: 20px;
    color: gray;
}

/*
SEZIONI COLORATE
*/

.box{
    border-radius: 10px;
    font-size: 15px;
    padding: 5px;
    color: white;
}

.bg_blu{
    background-color: rgb(116, 198, 245);
}

.bg_violet{
    background-color: rgb(120, 43, 136);
}

.bg_green{
    background-color: rgb(16, 112, 48);
}

.bg_orange{
    background-color: rgb(175, 111, 16);
}

.bg_purple{
    background-color: rgb(221, 28, 211);
}

.bg_yellow{
    background-color: rgb(202, 226, 147);
}
/*
CROCI E SPUNTE COLORATE
*/

.red-cross{
    border: 1px solid red;
    color: red;
    border-radius: 50%;
    padding: 2px;
}

.green-check{
    border: 1px solid green;
    color: green;
    border-radius: 50%;
    padding: 2px;
}